scenario-scripts/community/scripts/chart/__pycache__/
scenario-scripts/community/scripts/generator/__pycache__/
scenario-scripts/working/
scenario-scripts/output/
scenario-scripts/user/
scenario-scripts/__pycache__/